.fav-wrapper
  position: relative
  margin: 80px 0
  width: 100%
  max-height: 200px
  overflow: hidden
  will-change: transform
  .slick-arrow
    position: absolute
    z-index: 90
    height: 24px
    border-radius: 14px
    background-color: transparent
    top: calc(50% - 5px)
    transform: translateY(-50%)
    color: black
    padding: 0
    border: none
  .slick-next
    right: 20px
  .slick-prev
    left: 20px

.fav-item
  display: inline-block
  user-select: none
  padding: 0 13px
  a
    color: $primary
    display: block
    text-align: center
    user-select: none
  img
    user-select: none
    width: 100%
    max-width: 120px

  p
    font-size: 0.8em

.fav-arrow
  color: black
