@import "~utils/colors";
@import "~pages/home/styles";
@import "~pages/product/styles";
@import "~pages/search/styles";
@import "~pages/user/styles";
@import "~pages/category/styles";
@import "~pages/signin/styles";
@import "~pages/cart/styles";
@import "~components/Header/styles";
@import "~components/Carousel/styles";
@import "~components/Footer/styles";
@import "~components/Favorites/styles";
@import "~components/Results/styles";
@import "~components/DropDown/styles";
@import "~components/Pagination/styles";
@import "~components/OrderItem/styles";
@import "~components/AddressForm/styles";
@import "~components/CartBox/styles";
@import "~components/OrderTable/styles";



* {
  box-sizing: border-box;
}

body {
  font-family: 'Lora', serif;
  font-size: 16px;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  background: #bed9ec;
  background: linear-gradient(to bottom, #bed9ec 0%, #ffffff 100%);
  color: $dark-main;
}

main {
  padding: 0 16px;
}

button {
  font-family: 'Lora', serif;
  border: none;
  outline: none;
  box-shadow: none;
  background-color: white;
  padding: 0;
  cursor: pointer;
}

input {
  font-family: 'Lora', serif;
  outline: none;
  font-size: 0.8em;
}

a {
  text-decoration: none;
  color: inherit;

  &:visited {
    color: inherit;
  }
}

ul {
  margin: 0;
}

.overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 100;
  background-color: rgba(0,0,0,0.75);
  padding: 40px;
}

.input {
  border: 1px solid $grey-300;
  font-size: 0.9em;
  border-radius: 2px;
  line-height: 1.7em;
  padding: 5px 10px;
  box-shadow: inset 0 1px 1px 0px rgba(0, 0, 0, 0.1);
  background-color: $grey-50;

  &::placeholder {
    color: $grey-400;
  }
}

.input-quantity {
  padding: 5px 5px;
}

.vertical-divider {
  width: 1px;
  margin: 0 5px;
  height: 100%;
  background-color: $grey-400;
}

.smooth {
  -webkit-font-smoothing: antialiased;
}

.layout {
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 16px;
  box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.3);
  background-color: white;
}

.overflow-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


.h-underline {
  border-bottom: 1px solid $grey-400;
  padding-bottom: 5px;
}

.green-form {
  width: 100%;
  max-width: 400px;

  label {
    display: block;
    color: $mgreen;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
  }

  input {
    display: block;
    width: 100%;
    margin: 5px 0 32px;
  }

  .submit {
    border: none;
    padding: 8px 12px;
    width: 100%;
    font-weight: bold;
    font-size: 1.1em;
    background-color: #bed9ec;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  }

  .error {
    border-radius: 2px;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    color: #a94442;
    font-size: 0.85em;
    margin: 5px 0;
    padding: 2px 5px;
    font-weight: lighter;
  }
}
