.others-wrapper {

  p {
    text-align: justify;
  }


}


.side-img {
  align-self: flex-start;
  min-width: 300px;
  margin-left: 16px;

  &.sm {
    min-width: 150px;
  }
}


.grow {
  flex-grow: 1;
}
