<!DOCTYPE html>
<html>
  <head>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <!-- COMMON TAGS -->
    <meta charset="utf-8">
    <title>Belleza Organica</title>
    <!-- Search Engine -->
    <meta name="description" content="Comprar productos de belleza orgánicos importados de Inglaterra. El distribuidor oficial de Neal's Yard Remedies en México.">
    <meta name="image" content="https://s3-us-west-1.amazonaws.com/belleza-node/fbcover.jpg">
    <meta name="keywords" content="Belleza, Organica, Neals-Yard-Remedies, Beauty, Organic, Bach-Remedies, Aceites-Esenciales">
		<meta name="google-site-verification" content="KwG-JO12vAl73f81VSv_58W8nuDq-qkZQfSsm_Y084M" />
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Belleza Organica">
    <meta itemprop="description" content="Comprar productos de belleza orgánicos importados de Inglaterra. El distribuidor oficial de Neal's Yard Remedies en México.">
    <meta itemprop="image" content="https://s3-us-west-1.amazonaws.com/belleza-node/fbcover.jpg">
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Belleza Organica">
    <meta name="twitter:description" content="Comprar productos de belleza orgánicos importados de Inglaterra. El distribuidor oficial de Neal's Yard Remedies en México.">
    <meta name="twitter:site" content="@NealsYardMexico">
    <meta name="twitter:image:src" content="https://s3-us-west-1.amazonaws.com/belleza-node/fbcover.jpg">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="Belleza Organica">
    <meta name="og:description" content="Comprar productos de belleza orgánicos importados de Inglaterra. El distribuidor oficial de Neal's Yard Remedies en México.">
    <meta name="og:image" content="https://s3-us-west-1.amazonaws.com/belleza-node/fbcover.jpg">
    <meta name="og:url" content="https://bellezaorganica.com.mx/">
    <meta name="og:site_name" content="Belleza Organica">
    <meta name="og:locale" content="es_MX">
    <meta name="fb:admins" content="231208140255146">
    <meta name="og:type" content="website">

    <link rel="shortcut icon" href="https://s3-us-west-1.amazonaws.com/belleza-organica-images/images/web/favicon.ico">
    <link rel="stylesheet" href="/styles.css">

    <script async defer src="/bundle.js"></script>
    <script async defer src="https://use.fontawesome.com/019b09f546.js"></script>

  </head>
  <body>
    <div id="app">{{{html}}}</div>


    <!-- <table width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose GeoTrust SSL for secure e-commerce and confidential communications.">
    <tr>
    <td width="135" align="center" valign="top"><script type="text/javascript" src="https://seal.geotrust.com/getgeotrustsslseal?host_name=bellezaorganica.com.mx&amp;size=M&amp;lang=en"></script><br />
    <a href="http://www.geotrust.com/ssl/" target="_blank"  style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;"></a></td>
    </tr>
    </table> -->
    <div id="fb-root"></div>


    {{{setWindow}}}

    <script type="text/javascript">

      var banners = document.getElementById('banners')
      var favorites = document.getElementById('favorites')

      if(banners && favorites){

        setTimeout(function () {

          var script = document.createElement('script');
          script.src = "https://d36hc0p18k1aoc.cloudfront.net/public/js/modules/tintembed.js";
          document.getElementsByTagName('head')[0].appendChild(script);

          var script = document.createElement('script');
          script.src = "https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=ljjt7o328iyr93epeqkyqarnq9kplj14d2o03qacg8dru9pv";
          document.getElementsByTagName('head')[0].appendChild(script);

          var script = document.createElement('script');
          script.src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyByjXf_TKYNHIkFzN4oVOIuAwHGi8ZzXos&libraries=places";
          document.getElementsByTagName('head')[0].appendChild(script);

          (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9";
            fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));

          window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
              t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);
            t._e = [];
            t.ready = function(f) {
              t._e.push(f);
            };
            return t;
          }(document, "script", "twitter-wjs"));

        }, 5000)


        var bannerWidth = banners.clientWidth
        var bslides = banners.getElementsByClassName('slick-slide')
        for (var i = 0; i < bslides.length; i++) {
          bslides[i].style.width = bannerWidth + "px"
        }

        var btracker = banners.getElementsByClassName('slick-track')[0]
        btracker.style.width = bannerWidth * bslides.length+"px"
        btracker.style.transform = "translate3d(-1060px, 0px, 0px)"

        var reponsive = 5
        if(window.innerWidth > 1012 ){
          responsive = 5
        }else if(window.innerWidth > 828 ){
          responsive = 4
        }else if(window.innerWidth > 600 ){
          responsive = 3
        }else if(window.innerWidth > 400 ){
          responsive = 2
        }else{
          responsive = 1
        }

        var favWidth = favorites.clientWidth/responsive
        var fslides = favorites.getElementsByClassName('slick-slide')
        for (var i = 0; i < fslides.length; i++) {
          fslides[i].style.width = favWidth + "px"
        }
        favorites.getElementsByClassName('slick-track')[0].style.width = favWidth * fslides.length+"px"
      }
    </script>

    <script type="text/javascript">
      WebFontConfig = {
        google: {
          families: ['Lora']
        }
      };
      (function(d) {
         var wf = d.createElement('script'), s = d.scripts[0];
         wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js';
         wf.async = true;
         s.parentNode.insertBefore(wf, s);
      })(document);
   </script>
  </body>
</html>
