.mdc-list-item {
  height: 48px;
  display: flex;
  align-items: center;
  font-family: 'Lora', serif !important;
  color: $dark-main;
}

.drop-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 0.9em;
  font-family: 'Lora', serif !important;
  padding: 5px 5px 5px 16px;
  border: 1px solid $grey-400;
  border-radius: 2px;
  color: $grey-500;

  i {
    margin-left: 20px
  }
}

.mdc-menu-anchor {
  margin: 0 16px;
}
