.pagination {
  display: flex;
  align-items: center;
  margin-left: auto;

  a {
    width: 32px;
    height: 32px;
    text-align: center;
    padding: 6px 0;
    border: 1px solid $grey-300;
    border-radius: 2px;
    margin: 0 2px;
    color: $dark-main;
  }

  span {
    width: 32px;
    height: 32px;
    text-align: center;
    padding: 6px 0;
    border: 1px solid $grey-300;
    border-radius: 2px;
    margin: 0 2px;
    color: $grey-500;
    letter-spacing: 2px;
    cursor: default;
  }

  .active {
    width: 34px;
    height: 34px;
    padding: 7px 0;
    color: white;
    background-color: $dark-main;
    border: 1px solid $dark-main;
  }
}
