.address__form {
  background-color: white;
  padding: 16px;
  max-height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 400px;
  margin: 40px 0;
  border-radius: 3px;
  font-size: 0.85em;

  h3 {
    display: flex;
    align-items: center;
    margin-top: 0;

    i {
      margin-left: auto;
      color: red;
      cursor: pointer;
    }
  }

  input {
    margin-bottom: 16px !important;
    font-size: 1em;
  }
}
