@font-face
    font-family: PlantinMTProLight
    src: url("font/PlantinMTPro-Light.otf") format("opentype")
    font-weight: lighter
*
	box-sizing: border-box

body
	font-family: 'Lora', serif
	font-size: $lg-font-size
	width: 100vw
	min-height: 100vh
	color: $primary
	background-color: $primary-lighter

	@media screen and (max-width: $layout-lg)
		font-size: $md-font-size

	@media screen and (max-width: $layout-xs)
		font-size: $xs-font-size

main
	padding: 16px
	margin: 0 !important

button, .white-button
	display: inline-block
	font-family: 'Lora', serif
	font-size: 0.9em
	color: $primary
	border: none
	outline: none
	background-color: white
	cursor: pointer
	border-radius: $border-radius
	padding: 8px 16px
	border: 1px solid $grey-300
	text-align: center
	line-height: 1em
	&.full
		width: 100%
	&:active
		color: $primary
		background-color: $grey-300
		box-shadow: none
	&.disable
		color: $grey-500
		cursor: not-allowed
		background-color: $grey-200

a
	color: $primary-light
	text-decoration: none

p
	line-height: 1.2em

hr
	width: 100%
	height: 1px
	background-color: $grey-300
	border: none

input[type="text"], input[type="number"], input[type="password"]
	+shadow-inner()
	font-family: 'Lora', serif
	border: 1px solid $grey-300
	font-size: 0.9em
	border-radius: $border-radius
	line-height: 1.3em
	padding: 6px 10px
	background-color: $grey-50
	outline: none
	margin: 0 5px
	&::placeholder
		color: $grey-400

	&:disabled
		box-shadow: none
		color: $grey-500
		cursor: not-allowed
		background-color: $grey-200

textarea
	@extend input[type="text"]
	width: 100%

input[type="number"]
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
	padding: 4px 5px 4px 5px

h1, h2, h3, h4, h5, h6
	font-weight: bold
	margin: 16px 0
	line-height: 1.25em

h1
	font-size: 2em

h2
	font-size: 1.6em

h3
	font-size: 1.2em

h4
	font-size: 1em

h5
	font-size: 0.8em

h6
	font-size: 0.7em

.h-underline
	border-bottom: 1px solid $grey-400
	padding-bottom: 5px

.box
	background-color: white
	padding: 16px
	border-radius: $border-radius
	border: 1px solid $grey-300
	margin-bottom: 10px
	overflow: hidden
	will-change: height

	&.with-y
		max-height: 100vh
		overflow-y: scroll
		overflow-x: hidden

.dark-a
	@extend a
	color: $primary

.dark-button
	@extend button
	background-color: $primary
	color: white
	border: 1px solid $primary

.light-button
	@extend button
	background-color: $primary-lighter
	color: $primary
	border: 1px solid $primary-lighter

.secondary-button
	@extend button
	background-color: $secondary
	color: white
	border: none

	&[disabled]
		box-shadow: none
		cursor: not-allowed
		background-color: transparentize($secondary, 0.5)

.margin-button
	@extend button
	margin: 0 5px

.raise
	+shadow-1dp()

.submit
	@extend .light-button
	font-weight: bold
	font-size: 1.1em

	&:disabled
		box-shadow: none
		color: $grey-500
		cursor: not-allowed
		background-color: $grey-200
		border: none

.cancel
	@extend button
	background-color: $mred
	border: none
	color: white
	margin-top: 18px

.ul-dots
	list-style: disc
	color: $grey-500
	padding-left: 16px
	li
		padding: 0.35em
		&:hover
			color: $primary
	a
		display: block
		color: inherit

.ul-normal
	list-style: disc
	margin: 10px 0
	padding-left: 40px

.sub-text
	color: $grey-600
	font-size: 0.9em
	&.primary
		color: $primary
	&.light
		color: $primary-light

.main-form
	position: relative
	margin: 16px 0
	label
		display: block
		color: $secondary
		font-weight: bold
		margin-bottom: 5px
	input[type="text"], input[type="password"]
		margin: 0 0 26px
		width: 100%
		&:last-child
			margin: 0

.error-div
	background-color: $light-error
	border-radius: $border-radius
	color: $error
	padding: 8px 16px
	margin: 5px 0
	font-size: 0.9em

.overflow-text
	overflow: hidden
	text-overflow: ellipsis
	white-space: nowrap

.cover-image
	background-size: cover
	background-repeat: no-repeat
	background-position: center center

.contain-image
	background-size: contain
	background-repeat: no-repeat
	background-position: center center

.overlay
	@extend .grid
	@extend .center
	@extend .just-center
	position: fixed
	overflow: hidden
	top: 0
	left: 0
	height: 100vh
	width: 100vw
	z-index: 100
	margin: 0 !important
	will-change: all
	transform: scale(0,0)
	background-color: rgba(0,0,0,0)
	transition: background-color 0.35s, transform 0.4s linear 0.4s

	&.show
		transition: background-color 0.35s
		transform: scale(1,1)
		background-color: rgba(0,0,0,0.75)

	.box
		min-width: 320px
		width: 400px



#layout
	+shadow-2dp()
	width: 100%
	max-width: 1200px
	min-height: 100vh
	background-color: white
	margin: 0 auto
	padding: 0 0 16px
