.grid
  display: flex
  margin: 0 -8px

.grid-wrap
  display: flex
  flex-wrap: wrap
  margin: 0 -8px

@for $i from 1 through 12
  .col-#{$i}
    padding: 8px
    width: 100% * ($i/12)

.top
  align-items: flex-start

.bottom
  align-items: flex-end

.center
  align-items: center

.around
  justify-content: space-around

.between
  justify-content: space-between

.just-center
  justify-content: center

.end
  justify-content: flex-end

.start
  justify-content: flex-start
