.product__section {
  display: flex;
  align-items: flex-start;
  padding-bottom: 24px;
}


.product__mini {
  width: 92px;
  min-width: 92px;
  border: 1px solid $mgreen;
  border-radius: 8px;
  padding: 0 5px;

  img {
    display: block;
    width: 100%;
    margin: 5px 0;
  }
}


.product__main-img {
  height: auto;
  width: 100%;
  max-width: 430px;
  margin: 0 60px;
}

.product__info {
  flex-grow: 1;
  h2 {
    margin-top: 0;
  }
}

.product__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product__sub-info {
  margin: 0;
  color: $grey-500;
  font-size: 0.9em
}

.product__main-info {
  margin: 5px 0 0;
  font-size: 0.9em
}


.product__tabs {
  margin-top: 20px;
  border: 1px solid $grey-400;
  border-radius: 3px;
  overflow: hidden;
}

.product__tablist {
  display: flex;
  list-style: none;
  padding: 0;
}

.product__tab {
  flex-grow: 1;
  flex-basis: 0;
  background: transparent url("https://s3-us-west-1.amazonaws.com/belleza-organica-images/images/web/tab-bck.png") repeat scroll 0% 0%;
  border-right: 1px solid $grey-400;
  border-bottom: 1px solid $grey-400;
  margin: 0;
  padding: 10px 2px 7px;
  color: $dark-main;
  cursor: pointer;
  text-align: center;
  outline: none;
  font-size: 0.9em;

  &:last-child {
    border-right: none;
  }

  &.ReactTabs__Tab--selected {
    background: white;
    border-bottom: none;

  }
}


.product__tab-panel {
  height: 356px;
  padding: 16px;
  overflow-x: hidden;
  overflow-y: scroll;
  color: black;
}
