.order-table
  // font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  width: 100%
  border: 1px solid $grey-300
  border-radius: 3px
  border-collapse: collapse
  td
    border-bottom: 1px solid $grey-300
    text-align: center
    &:last-child
      padding-right: 16px
  th
    border-bottom: 1px solid $grey-300
    padding: 16px 0
    &:last-child
      padding-right: 16px
  span
    font-size: 0.7em
    color: $grey-500
  &.sm
    img
      height: 100px

.order-table-foot
  td
    border: none
    text-align: right
    padding: 5px 5px
    font-size: 0.9em
    color: $grey-700
  .foot-main
    font-size: 1em
    color: $primary
    text-align: right
    width: 50px
