.results__grid {
  display: flex;
  flex-wrap: wrap;
}

.results__cell {
  max-width: 25%;
  min-width: 25%;
  height: 254px;
  padding: 0 16px;
  text-align: center;
  margin-bottom: 36px;
  font-weight: normal;

  h4 {
    margin: 5px;
    color: $dark-main;
  }

  p {
    margin: 0 0 10px;
    color: $dark-main;
  }
}

.results__options {
  display: flex;
  align-items: center;
  color: $dark-main;
  border: 1px solid $grey-300;
  margin: 20px -16px;
  padding: 10px 16px;
}

.add-button {
  border: none;
  background-color: $mgreen;
  padding: 10px 10px;
  color: white;
  font-weight: bold;
  border-radius: 2px;
  margin-right: 5px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
  cursor: pointer;


  &:active {
    box-shadow: none;
  }
}
