.order-item-top
  background-color: $grey-100
  padding: 16px
  margin: -16px -16px 0
  font-weight: 400
  p
    font-size: 0.9em
    color: $grey-600
    padding-right: 32px
    &:last-child
      flex-grow: 1
      padding: 0
      text-align: right
  span
    display: block
    color: $grey-700

.status
  text-transform: capitalize

.status-pagado, .status-enviado
  @extend .status
  color: $secondary

.status-procesando
  @extend .status
  color: $myello

.status-cancelado, .status-
  @extend .status
  color: $mred
