.order-item__article {
  width: 100%;
  border: 1px solid $grey-300;
  border-radius: 3px;
  overflow: hidden;
  margin: 16px 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}


.order-item__top {
  display: flex;
  background-color: $grey-100;
  padding: 16px;
  font-weight: 400;

  p {
    margin: 0;
    font-size: 0.9em;
    color: $grey-600;
    padding-right: 32px;
  }

  span {
    display: block;
    color: $grey-700;
  }

  p:last-child{
    padding: 0;
    text-align: right;
  }

  p:nth-last-child(1){
    flex-grow: 1;
  }

  .clickable {
    color: #337ab7;
    cursor: pointer;
    position: relative;

    &.green {
      color: $mgreen;
    }
  }
}


.order-item__bottom {
  display: flex;
  padding: 8px;
  color: black;

  img {
    height: 100px;
    padding-right: 16px;
  }

  h4 {
    margin: 5px 0;
  }

  p {
    font-size: 0.85em;
    margin: 5px 0;
  }

  .subtotal {
    color: #C53C1D;
  }

  .more {
    margin-left: auto;
    font-family: 'Lora', serif;
    color: white;
    padding: 16px 0;
    font-size: 0.85em;
  }
}
