.payment-form
	padding: 8px 0
	div
		margin: 8px 0

	label
		text-align: right

.hide-pay
	height: 63px
	@media screen and (max-width: $layout-xxs)
		height: 52px

.hide-f
	height: 76px

.success-box
	width: 100%
	padding: 16px
	text-align: center
	background-color: transparentize($secondary, 0.4)
	color: white
	border: 1px solid $secondary
	margin-top: 24px

.oxxo-sub
	border: 1px solid $grey-300
	border-radius: $border-radius
	background-color: white
	padding: 16px
	font-family: sans-serif
	color: black
	margin-top: 20px
	font-size: 0.9em

	h3
		color: $grey-500

	ol
		list-style: decimal
		margin-left: 20px

	li
		margin: 10px 0

.opps-info
	display: flex
	align-items: center
	margin-bottom: 10px

.opps-amount
	width: 60%
	margin-left: auto

.opps-brand
	width: 35%
	padding-right: 16px

	img
		width: 100%
