.payment-form
  padding: 8px 0
  div
    margin: 8px 0

  label
    text-align: right

.hide-pay
  height: 63px
  @media screen and (max-width: $layout-xxs)
    height: 52px

.hide-f
  height: 76px

.success-box
  width: 100%
  padding: 16px
  text-align: center
  background-color: transparentize($secondary, 0.4)
  color: white
  border: 1px solid $secondary
  margin-top: 24px
