.big {
  width: 70%;
  margin-right: 16px;
}

.small {
  width: 30%;
}

.box {
  border: 1px solid $grey-300;
  border-radius: 3px;
  padding: 16px;
  margin-bottom: 16px;
  overflow: hidden;

  h5 {
    color: $grey-500;
  }

  textarea {
    width: 100%;
    margin-bottom: 16px;
  }

  .button {
    width: 250px;
    text-align: center;
  }

  &.hide {
    height: 84px;
  }

  &.hide-pay {
    height: 60px;
  }
}


.empty-p {
  color: $grey-400;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
}

.factura-title {
  display: flex;

  label {
    margin-left: auto;
    color: $grey-500;
    font-size: 0.9em;
  }
}


.checkout-list {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: flex;
    margin: 8px 0;
  }

  img {
    height: 86px;
    margin-right: 5px;
  }

  p {
    margin: 0;
    font-size: 0.85em;
    color: $grey-500;
  }

  h4 {
    font-size: 0.9em;
    margin: 5px 0;
  }
}


.left-link {
  display: block;
  text-align: right;
  color: #337ab7;
}

.payment_header {
  display: flex;
  align-items: center;

  img {
    height: 28px;
    margin: 0 8px;
  }

  input[type="radio"]{
    margin-left: auto;
  }
}

.payment-form {
  margin: 16px 0;

  div {
    display: flex;
    align-items: center;
    margin: 8px 0;
  }

  label {
    width: 25%;
    min-width: 100px;
    text-align: right;
    margin-right: 8px;
  }

  .input {
    flex-grow: 1;
    min-width: 250px;
    max-width: 320px;

    &.sm {
      min-width: 100px;
      max-width: 120px;
    }
  }

  .submit {
    border: none;
    padding: 8px 12px;
    width: 100%;
    font-weight: bold;
    font-size: 1.1em;
    background-color: #bed9ec;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;
    margin-top: 16px;
  }
}


.address-box {
  @extend .box;
  margin-top: 18px;

  p {
    margin: 5px 0;
    font-size: 0.9em;
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: $grey-400;
  }

  h5 {
    margin: 0;
  }
}

.successful-wrapper {
  max-width: 800px;

  .sub {
    color: #337ab7;
    font-style: italic;
  }
}

.green-h {
  color: $mgreen;
}
