.cart__box {
  position: absolute;
  width: 350px;
  max-height: 500px;
  background-color: $grey-100;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
  z-index: 200;
  top: 90%;
  right: 0;
  border-radius: 3px;
  display: none;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;


  h3 {
    background-color: white;
    border-bottom: 1px solid $grey-300;
    margin: 0;
    line-height: 3em;
  }
}

.cart__mid {
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;

  h4 {
    color: $grey-500;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

}

.cart__item {
  display: flex;
  border-bottom: 1px solid $grey-300;
  background-color: white;
  text-align: left;
  align-items: center;
  font-size: 0.9em;

  &:last-child {
    border: none;
  }

  img {
    height: 100px;
  }

  p {
    margin: 5px 0;
  }

  div {
    padding: 0 16px;
    min-width: 0;
  }

  span {
    color: $grey-700;
    font-size: 0.9em;
  }
}


.cart__bottom {
  background-color: white;
  border-top: 1px solid $grey-300;
  margin-top: auto;
  padding: 0 5px;
  flex-shrink: 0;
  padding: 16px;

  p {
    margin: 10px 0;
  }

  span {
    font-size: 0.6em;
    color: $grey-600;
  }

}


.button {
  display: inline-block;
  padding: 10px 16px;
  border-radius: 3px;
  width: 100%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2)
}

.dark {
  background-color: $dark-main;
  color: white !important;
}

.light {
  background-color: #D6E4E4;
  color: $dark-main;
}
